apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: demo-app-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      containers:
        - name: demo-app
          image: nithinsibi/demo-app:BUILD_TAG
          ports:
            - containerPort: 8080
