apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: demo-app-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: nithinsibi/demo-app:BUILD_TAG
          ports:
            - containerPort: 8080
